.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.person-card {
    max-width: 150px;
    height: 200px;
    overflow: hidden;
    
    .person-header {
        flex-direction: column;   
    }
}

.create-container {
    display: flex;
    flex-direction: column;
  }
  
  .create-container > * {
    max-width: 700px;
    width: 500px;
  }