
<!-- Here's the code to view the people -->
    <div>
        <ul class="people">
          <li *ngFor="let person of people" (click)="openEditDialog(person)" [class.selected]="person === selectedPerson">
  
            <button class="delete-button" (click)="deletePerson(person)">Delete</button>
            <div class="person-element">
              <div class="badge">{{person.id}}</div>
              <div class="name">{{person.first_name}}</div>
              <div class="saying">{{person.last_name}}</div>
            </div>
          </li>
        </ul>


  <ol>
    <!-- <li>
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="What's your name?">
      </mat-form-field>
    </li> -->
    <li>
      <button mat-raised-button (click)="openCreateDialog()">Create New Person</button>
    </li>
</ol>