
<!-- Here's the code to view the people -->
    <div class="cards-container">
        <div class="card" *ngFor="let person of people" (click)="openEditDialog(person)" [class.selected]="person === selectedPerson">
          
          <button class="delete-button" (click)="deletePerson(person)">Delete</button>
           
            <mat-card class="person-card">
                <mat-card-header class="person-header" >
                  <mat-card-title>{{ person.first_name }}</mat-card-title>
                  <mat-card-title>{{ person.last_name }}</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                  <mat-card-content>
                      <p>
                        Tags go here
                      </p>
                    </mat-card-content>
              </mat-card-header>
          </mat-card>
        </div>

      
    </div>

  <ol>
    <!-- <li>
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="What's your name?">
      </mat-form-field>
    </li> -->
    <li>
      <button mat-raised-button (click)="openCreateDialog()">Create New Person</button>
    </li>
</ol>