<app-header></app-header>

<mat-drawer-container class="example-container" autosize>  
    <section>
          <router-outlet></router-outlet>  
    </section>
    
    <mat-drawer #sidenav class="example-sidenav" mode="side" opened="true">
        
        <button mat-raised-button (click)="openCreateDialog()">Create New Person</button>
        
        <p>Auto-resizing sidenav</p>


        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
        </button>
    </mat-drawer>
</mat-drawer-container>