.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.person-card {
  width: 200px;
  height: 250px;
  overflow: hidden;
  margin: 10px 5px;
  padding: 0px;
}

.person-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: lightcoral;

  .person-firstname {
    margin: 10px 0 5px 0 ;
    font-size: 24px;
  }

  .person-lastname {
    font-size: 24px;
  }

}

.person-center {
  height: 50px;
  align-items: center;
  background-color: lightblue;
}
.person-footer {
  // height: 50px;
  align-items: flex-end;
  background-color: lightgray;
}


// .create-container {
//   display: flex;
//   flex-direction: column;
// }

// .create-container > * {
//   width: 100%;
// }

.show{
	display: block;
	bottom: 0;
	visibility: visible;
	position: relative;
	transition: all 1s ease-in-out;
		height: auto;
		z-index: 0;


}
.hide{
	display: block;
	visibility: hidden;
	position: relative;
	height: 0 !important;
	bottom: -1000px;	
	z-index: -10;
	transition: all 1s ease-in-out;
}

.view-toggle{
  float: right;
  i{
    font-size: 28px;
    cursor: pointer;
  }
}