


<div class ="create-container" *ngIf="!post; else forminfo" novalidate>
  <h4>Create New Person</h4>
  <!-- <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" > -->



  <div class="editarea">
    <div *ngIf="selectedPerson">
      <div class="editfields">

        <mat-form-field>
          <input matInput [(ngModel)]="selectedPerson.id" placeholder="ID"  />
          <label *ngIf="!addingPerson" class="value">{{selectedPerson.id}}</label>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="First name" >
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input matInput [(ngModel)]="selectedPerson.last_name" placeholder="Last name" />
        </mat-form-field>
        
        <mat-form-field>
          <input matInput [(ngModel)]="selectedPerson.nickname" placeholder="Nickname" />
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="selectedPerson.from" placeholder="From" />
        </mat-form-field>
        
        <mat-form-field>
          <input matInput [(ngModel)]="selectedPerson.work" placeholder="Work" />
        </mat-form-field>
        
        <mat-form-field>
          <input matInput [(ngModel)]="selectedPerson.school" placeholder="School" />
        </mat-form-field>
        
        <mat-form-field>
          <input matInput [(ngModel)]="selectedPerson.my_relationship" placeholder="myRelationship" />
        </mat-form-field>
        
        <mat-form-field>
          <input matInput [(ngModel)]="selectedPerson.relationship_depth" placeholder="Acquaintance Level 1-10" />
        </mat-form-field>
        
        <mat-form-field>
          <input matInput [(ngModel)]="selectedPerson.we_met" placeholder="weMet" />
        </mat-form-field>
        
        <mat-form-field>
          <input matInput [(ngModel)]="selectedPerson.birthday" placeholder="Birthday" />
        </mat-form-field>
        
        <mat-form-field appearance="outline" required>
          <input matInput [(ngModel)]="selectedPerson.siblings" placeholder="Siblings +Sib?" />
        </mat-form-field>
        
        <mat-form-field>
            <mat-select placeholder="Family Position">
              <mat-option matInput value="option">1</mat-option>
              <mat-option matInput value="option">2</mat-option>
              <mat-option matInput value="option">3</mat-option>
              <mat-option matInput value="option">4</mat-option>
            </mat-select>
          </mat-form-field>
<!-- 
THIS IS WIRED BUT HTE ONE ABOVE IS NOT
        <mat-form-field>
          <input matInput [(ngModel)]="selectedPerson.birthOrder" placeholder="Family Position" />
        </mat-form-field> -->

        <mat-form-field>
          <input matInput [(ngModel)]="selectedPerson.children" placeholder="Num children +Child?" />
        </mat-form-field>
        
        
        <mat-form-field>
          <input matInput [(ngModel)]="selectedPerson.phone" placeholder="Phone" />
        </mat-form-field>
        
        <mat-form-field>
          <input matInput [(ngModel)]="selectedPerson.email" placeholder="Email" [formControl]="email"  />
          
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        
        <mat-form-field>
          <input matInput [(ngModel)]="selectedPerson.contact" placeholder="Other contat" />
        </mat-form-field>

      </div>
      <button (click)="cancel()">Cancel</button>
      <button (click)="save()">Save</button>
    </div>
  </div>
<!-- </form> -->
</div>
