<header class="dialog-header">Create Person</header>
<main flex wrap>
    <div class="create-container" *ngIf="!post; else forminfo" novalidate>



        <!-- <mat-form-field>
                            <input matInput [(ngModel)]="selectedPerson.id" placeholder="ID"  />
                        </mat-form-field> -->
        <div class="mat-side-icon">
            <mat-icon class="icon_account_circle">account_circle</mat-icon>
        </div>

        <mat-form-field class="mat-form mat-form1">
            <input matInput [(ngModel)]="selectedPerson.firstName" placeholder="First name" />
            <button mat-button *ngIf="selectedPerson.firstName" matSuffix mat-icon-button
                (click)="selectedPerson.firstName=''" tabindex="-1">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field class="mat-form mat-form1" (mouseover)="changeText=true" (mouseout)="changeText=false">
            <input matInput [(ngModel)]="selectedPerson.lastName" placeholder="Last name" />
            <span class="close-button3" *ngIf="changeText">
                <button class="close-button" mat-button *ngIf="selectedPerson.lastName" matSuffix mat-icon-button
                    (click)="selectedPerson.lastName=''" tabindex="-1">
                    <mat-icon class="close-button1">close</mat-icon>
                </button>
            </span>
        </mat-form-field>



        <div>
            <div *ngIf="IsVisible">



                <mat-form-field class="mat-form">
                    <input matInput [(ngModel)]="selectedPerson.nickname" placeholder="Nickname" />
                    <button mat-button *ngIf="selectedPerson.nickname" matSuffix mat-icon-button
                        (click)="selectedPerson.nickname=''" tabindex="-1">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field class="mat-form">
                    <input matInput [(ngModel)]="selectedPerson.from" placeholder="From" />
                    <button mat-button *ngIf="selectedPerson.from" matSuffix mat-icon-button
                        (click)="selectedPerson.from=''" tabindex="-1">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field class="mat-form">
                    <input matInput [(ngModel)]="selectedPerson.work" placeholder="Work" />
                    <button mat-button *ngIf="selectedPerson.work" matSuffix mat-icon-button
                        (click)="selectedPerson.work=''" tabindex="-1">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field class="mat-form">
                    <input matInput [(ngModel)]="selectedPerson.school" placeholder="School" />
                    <button mat-button *ngIf="selectedPerson.school" matSuffix mat-icon-button
                        (click)="selectedPerson.school=''" tabindex="-1">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field class="mat-form">
                    <input matInput [(ngModel)]="selectedPerson.myRelationship" placeholder="myRelationship" />
                    <button mat-button *ngIf="selectedPerson.myRelationship" matSuffix mat-icon-button
                        (click)="selectedPerson.myRelationship=''" tabindex="-1">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field class="mat-form">
                    <input matInput [(ngModel)]="selectedPerson.relationshipDepth"
                        placeholder="Acquaintance Level 1-10" />
                    <button mat-button *ngIf="selectedPerson.relationshipDepth" matSuffix mat-icon-button
                        (click)="selectedPerson.relationshipDepth=''" tabindex="-1">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field class="mat-form">
                    <input matInput [(ngModel)]="selectedPerson.weMet" placeholder="weMet" />
                    <button mat-button *ngIf="selectedPerson.weMet" matSuffix mat-icon-button
                        (click)="selectedPerson.weMet=''" tabindex="-1">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field class="mat-form">
                    <input matInput [(ngModel)]="selectedPerson.birthdate" placeholder="Birthday" />
                    <button mat-button *ngIf="selectedPerson.birthdate" matSuffix mat-icon-button
                        (click)="selectedPerson.birthdate=''" tabindex="-1">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field class="mat-form">
                    <input matInput [(ngModel)]="selectedPerson.siblings" placeholder="Siblings +Sib?" />
                    <button mat-button *ngIf="selectedPerson.siblings" matSuffix mat-icon-button
                        (click)="selectedPerson.siblings=''" tabindex="-1">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field class="mat-form">
                    <mat-select [(ngModel)]="selectedPerson.familyPosition" placeholder="Family Position">
                        <mat-option value="option1">1</mat-option>
                        <mat-option value="option2">2</mat-option>
                        <mat-option value="option3">3</mat-option>
                        <mat-option value="option4">4</mat-option>
                        <mat-option value="option5">5</mat-option>
                        <mat-option value="option6">6</mat-option>
                        <mat-option value="option7">7</mat-option>
                        <mat-option value="option8">8</mat-option>
                        <mat-option value="option9">9</mat-option>
                        <mat-option value="option10">10</mat-option>
                    </mat-select>
                </mat-form-field>
                <!--
    THIS IS WIRED BUT HTE ONE ABOVE IS NOT
    <mat-form-field class="mat-form">
        <input matInput [(ngModel)]="selectedPerson.familyPosition" placeholder="Family Position" />
    </mat-form-field> -->

                <mat-form-field class="mat-form">
                    <input matInput [(ngModel)]="selectedPerson.children" placeholder="Num children +Child?" />
                    <button mat-button *ngIf="selectedPerson.children" matSuffix mat-icon-button
                        (click)="selectedPerson.children=''" tabindex="-1">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>


                <mat-form-field class="mat-form">
                    <input matInput [(ngModel)]="selectedPerson.phone" placeholder="Phone" />
                    <button mat-button *ngIf="selectedPerson.phone" matSuffix mat-icon-button
                        (click)="selectedPerson.phone=''" tabindex="-1">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field class="mat-form">
                    <input matInput [(ngModel)]="selectedPerson.email" placeholder="Email" [formControl]="email" />
                    <button mat-button *ngIf="selectedPerson.email" matSuffix mat-icon-button
                        (click)="selectedPerson.email=''" tabindex="-1">
                        <mat-icon>close</mat-icon>
                    </button>

                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>

                <mat-form-field class="mat-form">
                    <input matInput [(ngModel)]="selectedPerson.contact" placeholder="Other contat" />
                    <button mat-button *ngIf="selectedPerson.contact" matSuffix mat-icon-button
                        (click)="selectedPerson.contact=''" tabindex="-1">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

            </div>

        </div>


    </div>
</main>

<footer>
    <div class="mat-scroll-shrink">
        <button mat-button class="footer-button fb1" color="primary"
            (click)="toggle()">{{IsVisible ? 'Less Fields' : 'More Fields'}}</button>
        <button mat-button class="footer-button fb2" color="primary" matDialogClose (click)="cancel()">Dismiss</button>
        <button mat-button class="footer-button fb3" color="primary" matDialogClose (click)="save()">Save</button>
            <!-- <mat-dialog-actions class="dialog-footer" align="end"> -->
                <!-- </mat-dialog-actions> -->
    </div>
</footer>