<!-- <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Enter your email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div> -->


  <!-- <p>
  View works! o?
  </p>
  <div>
      <ul class="people">
        <li *ngFor="let person of people" (click)="onSelect(person)" [class.selected]="person === selectedPerson">
          <button class="delete-button" (click)="deletePerson(person)">Delete</button>
          <div class="person-element">
            <div class="badge">{{person.id}}</div>
            <div class="name">{{person.name}}</div>
            <div class="saying">{{person.saying}}</div>
          </div>
        </li>
      </ul>
      <div class="editarea">
        <div *ngIf="selectedPerson">
          <div class="editfields">
            <div>
              <label>id: </label>
              <input [(ngModel)]="selectedPerson.id" placeholder="id" *ngIf="addingPerson" />
              <label *ngIf="!addingPerson" class="value">{{selectedPerson.id}}</label>
            </div>
            <div>
              <label>name: </label>
              <input [(ngModel)]="selectedPerson.name" placeholder="name" />
            </div>
            <div>
              <label>saying: </label>
              <input [(ngModel)]="selectedPerson.saying" placeholder="saying" />
            </div>
          </div>
          <button (click)="cancel()">Cancel</button>
          <button (click)="save()">Save</button>
        </div>
      </div>
    </div>
     -->

      <div>
          <div class="editarea">
            <div *ngIf="selectedPerson">
              <div class="editfields">
                <div>
                  <label>id: </label>
                  <input [(ngModel)]="selectedPerson.id" placeholder="id" *ngIf="addingPerson" />
                  <label *ngIf="!addingPerson" class="value">{{selectedPerson.id}}</label>
                </div>
                <div>
                  <label>name: </label>
                  <input [(ngModel)]="selectedPerson.name" placeholder="name" />
                </div>
                <div>
                  <label>saying: </label>
                  <input [(ngModel)]="selectedPerson.saying" placeholder="saying" />
                </div>
              </div>
              <button (click)="cancel()">Cancel</button>
              <button (click)="save()">Save</button>
            </div>
          </div>
        </div>
        