<header>
    <div class="container">
        <div class="example-sidenav-content">
            <button 
                [class.active]="toggleActive" 
                (click)="toggleSidenav()" 
                class="sidenav-button">
           
                    {{this.sidenav.isOpen() === true ? 'X' : '☰'}}	

            </button>
        </div>
      
        <a routerLink="/" class="logo">AngularPeople</a>
      
        <nav>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/test">TEST</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/edit">Edit</a></li>
            </ul>
        </nav>
    </div>
</header>
