<header class="header">
    <div class="container">
        <div class="sidenav-toggle-container">
            <button 
                class="sidenav-toggle-button"
                [class.active]="toggleActive" 
                (click)="toggleSidenav()" >
                {{this.sidenav.isOpen() === true ? 'X' : '☰'}}	
            </button>
        </div>
      
        <div class="app-name">
            <a routerLink="/" class="logo">AngularPeople</a>
        </div>
      
        <nav class="nav-links">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/test">TEST</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/edit">Edit</a></li>
            </ul>
        </nav>

        <div class="login-button">
            <button class="inout"> Login </button>
        </div>
    </div>
</header>
