<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
      <directoryBrowse enabled="true" showFlags="Date,Time,Extension,Size" />
        
        
        <handlers>

   <!-- Indicates that the app.js file is a node.js site to be handled by the iisnode module -->
            <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
        </handlers>
        <rewrite>
            <rules>

                <rule name="Angular" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="iisnode"/>
                </rule>

                
                <!-- Do not interfere with requests for node-inspector debugging -->
                <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^server.js\/debug[\/]?" />
                </rule>

                <rule name="StaticContent">
                    <action type="Rewrite" url="src{{REQUEST_URI}}"/>
                </rule>

                <rule name="DynamicContent">
                    <conditions logicalGrouping="MatchAll">
                        <add input="{{REQUEST_FILENAME}}" matchType="IsFile" negate="True"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="server.js"/>
                </rule>

                <!-- For static files, redirect to the URI -->
                <rule name="Static files" stopProcessing="true">
                  <match url=".*" />
                  <conditions logicalGrouping="MatchAll">
                    <!-- Any directory/file in the assets/ or views/ directory -->
                    <add input="{REQUEST_URI}" pattern="assets\/" ignoreCase="true" />
                    <add input="{REQUEST_URI}" pattern="views\/" ignoreCase="true" />
                  </conditions>
                  <action type="Rewrite" url="{REQUEST_URI}"/>
                </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>

